#recipe-app-container {
  padding: 32px;
}

.recipe-app {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  min-width: 300px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 16px;
  background: rgba(210, 233, 222, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(193, 231, 213, 0.3);
}
.recipe-app h1 {
  text-align: center;
  margin-bottom: 20px;
}
.recipe-app h1 {
  text-align: center;
}
.recipe-item-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  justify-items: center;
  justify-content: center;
  align-items: stretch;
  text-align: center;
}
.recipe-item {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 16px;
  background: rgba(210, 233, 222, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  cursor: pointer;
}
.recipe-image {
  border-radius: 16px 16px 0 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.recipe-name {
  text-transform: Capitalize;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.recipe-item-button {
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
