#recipe-app-container {
  padding: 32px;
}

.recipe-app {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  min-width: 300px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 16px;
  background: rgba(210, 233, 222, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(193, 231, 213, 0.3);
}
.recipe-app h1 {
  text-align: center;
  margin-bottom: 20px;
}
.recipe-category-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.recipe-category-container li {
  list-style-type: none;
  cursor: pointer;
  font-size: 0.85rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 10px;
  margin: 0;
  background-color: #acdfc6;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.recipe-category-container li:hover {
  background-color: rgba(0, 123, 82, 0.3);
  color: white;
}
.recipe-item-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  justify-items: center;
  justify-content: center;
  align-items: stretch;
  text-align: center;
}
.recipe-item {
  justify-self:stretch;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 16px;
  background: rgba(210, 233, 222, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  cursor: pointer;
}
.recipe-image {
  border-radius: 16px 16px 0 0;
  height: 200px;
  object-fit: cover;
}
.recipe-name {
  text-transform: Capitalize;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.recipe-item-button {
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.recipe-instructions{
  white-space: pre-wrap;
}
.recipe-detail {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 10px;
  margin: 0 auto;
  max-width: 800px;
  padding: 10px;
}
.recipe-detail h2 {
  grid-column: 1 / span 2;
  grid-row: 1;
}
.recipe-detail h4 {
  margin: 0;
  text-transform: capitalize;
  text-align: left;
}
#recipe-form-main-details{
  display:flex;
  flex-direction: column;
  gap:0;
}
#recipe-form-main-details div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}
#recipe-form-main-details input{
  width: 20rem;
}
#recipe-form-main-details textarea{
  width: 20rem;
  height: 5rem;
}
.recipe-detail-image{
  grid-column: 1;
  grid-row: 2;
  overflow: hidden;
  margin:0;
  padding:0;
}
.recipe-detail img {
  border-radius: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.recipe-detail .ingredient-group{
  display: flex;
  flex-direction: column;
}
.recipe-detail ul {
  padding: 0;
  max-width: 490px;
}
.recipe-detail li {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid #bce2d0;
}
.quantity-unit {
  width: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.recipe-detail p {
  grid-column: 1 / span 2;
  grid-row: 3;
  text-align: left;
  margin: 0;
}
.recipe-detail-ingredients{
  grid-column: 2;
  grid-row: 2;
}
#recipe-detail-delete {
  grid-column: 1 / span 2;
  grid-row: 4;
  justify-self: center;
  width: 10rem;
}
form {
  margin-top: 10px;
}
form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  margin: 0 auto;
  max-width: 800px
}
form input {
  padding: 5px;
  margin: 5px 0;
}
textarea {
  padding: 5px;
  margin: 5px 0;
}
#recipe-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
}

#recipe-form-ingredients {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.add-ingredient-btn,
.remove-ingredient-btn,
.remove-group-btn {
  margin-left: 0;
  margin-right: 0;
  font-size: 0.6rem;
  width: 5rem;
  padding: 0 5px;
  height: 25px;
}
.quantity, .unit{
  width: 5rem;
}
#ingredient-item-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.ingredient-group{
  display:grid;
  grid-template-columns: auto auto auto;
}
.ingredient-item {
  align-items: center;
}
.group-name{
  max-width: 7rem;
}
.group-container{
  align-self: start;
  align-items: center;
}
.add-ingredient-btn{
  align-self: end;
  margin-bottom: 5px;
}
.add-ingredient-group-btn{
  margin: 0 auto;
}