/*button grid container*/
.main-menu {
  max-width: 510px;
  justify-items: center;
  justify-content: center;
  margin: 30px auto;
  text-align: center;
  align-items: stretch;
  gap: 10px;
}

.button-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  gap: 10px;
}

.weather-widget {
  grid-column: 1 / span 2;
  grid-row: 1;
  height: 80px;
  border-radius: 16px;
  background: var(--color-mint-200-alpha-06);
  box-shadow: var(--box-shadow-dark);
  backdrop-filter: var(--blur-high);
  -webkit-backdrop-filter: var(--blur-high);
  border: 1px solid var(--color-mint-200-alpha-03);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.3s;
}

.menu-button {
  height: 250px;
  border-radius: 16px;
  background: var(--color-mint-200-alpha-06);
  box-shadow: var(--box-shadow-dark);
  backdrop-filter: var(--blur-high);
  -webkit-backdrop-filter: var(--blur-high);
  border: 1px solid var(--color-mint-200-alpha-03);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.5rem;
  transition: 0.3s;
}

.menu-button:hover {
  font-size: 1.55em;
  background-color: var(--color-mint-600-alpha-03);
  border: 1px solid var(--color-mint-600-alpha-01);
  color: var(--color-mint-100);
}
