.main-menu {
  max-width: 510px;
  justify-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  align-items: stretch;
  gap: 10px;
}

.button-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  gap: 10px;
}

#weather-widget {
 grid-column: 1 / span 2;
  grid-row: 1;
  height: 80px;
}

.menu-button {
  height: 250px;
  border-radius: 16px;
  background: rgba(210, 233, 222, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(193, 231, 213, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.5em;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
}

.menu-button:hover {
  font-size: 1.55em;
  background-color: rgba(125, 191, 169, 0.81);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(193, 231, 213, 0.3);
  color: white;
}

.menu-button h2 {
  margin: 0;
}
