.date-list span {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 5px 0;
}

#history-container button {
  padding: 5px;
  margin: 0;
}
#history-container h4 {
  font-size: 0.85rem;
  margin: 0 0 0 20px;
}
#history-container li {
  font-size: 0.75rem;
  padding: 0;
  margin: 0 0 0 40px;
}
#history-container ul {
  padding: 0;
  margin: 0;
}

.history-delete-btn {
  align-self: center;
  font-size: 0.6rem;
  background-color: var(--color-red-300);
  border: 1px solid var(--color-red-500);
  transform: 3s;
}
.history-delete-btn:hover {
  background-color: var(--color-red-500);
  color: var(--color-red-100);
}
#history-container {
  margin-bottom: -5px;
}
#history-date-list-container{
    padding: 0 10px;
    text-align: left;
}
