#root {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  gap: 10px;
}

h2 {
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
}
h3 {
  text-transform: uppercase;
  margin: 5px 0;
  background-color: #acdfae;
}

.grocery-list h3 {
  cursor: pointer;
  transition: background-color 0.3s;
}
.grocery-list h3:hover {
  background-color: #7dbf8e;
  color: white;
}
p {
  margin: 20px 10px;
}
article {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 0 10px;
  background-color: #c1e7c3;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  text-align: left;
}

.final-list li {
  list-style-type: disc;
  margin-left: 20px;
}

button,
#import-file {
  font-family: 'Roboto', sans-serif;
  font-size: 0.85rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  margin: 0 30px;
  background-color: #acdfae;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover,
#import-file:hover {
  background-color: #7dbf8e;
  color: white;
}
select {
  color: #2e2e2e;
  padding: 10px;
  margin: 0 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ebfcec;
  transition: background-color 0.3s;
}
select:focus {
  outline: 3px solid #7dbf8e;
}

.new-item input {
  color: #2e2e2e;
  padding: 10px;
  margin: 0 30px;
  border: none;
  border-radius: 5px;
  background-color: #ebfcec;
}
.new-item input[type="text"]:focus {
  outline: 3px solid #7dbf8e;
}
.new-item input::placeholder {
  color: #2e2e2e;
}
.delete-icon {
  text-transform: none;
  background-color: #dfacac;
  padding: 2px 6px;
  margin: 0 20px;
  border-radius: 1rem;
}
.delete-icon:hover {
  background-color: #da4242;
  color: white;
}
.grocery-list-container,
.final-list-container {
  flex-grow: 1;
}
#groceries-management-container,
#list-management-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
