/* GLOBAL BUTTON STYLES */
button,
#import-file,
.import-file {
  font-size: 0.85rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  margin: 2.5px 30px 5px 30px;
  background: var(--color-mint-200-alpha-06);
  box-shadow: var(--box-shadow-dark);
  border: 1px solid var(--color-mint-200-alpha-06);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
button:hover,
#import-file:hover,
.import-file:hover,
#back-to-main-menu button:hover {
  background-color: var(--color-mint-600-alpha-03);
  border: 1px solid var(--color-mint-600-alpha-01);
  color: var(--color-mint-100);
}

#back-to-main-menu button {
  background: rgba(210, 233, 222, 0.81);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(193, 231, 213, 0.3);
  transition: background-color 0.3s;
}
